.collection-page-body {
    height: 100vh;
    width: 100%;
    display: flex;
}
.collection-container {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #ebeefe;
}
.collection-container .collection-header {
    height: 7vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 0 20px;
    color: #4f4f4f;
    font-size: 1rem;
    font-weight: 600;
}
.collection-container .collection-body {
    flex: 1;
    width: 100%;
    height: 93vh;
    overflow-y: scroll;
}